connect.sh
*.o
*.lo
*.la
*.a
.*.swp
m4/l*
.libs
.deps
.dirstamp
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
doc/azy.dox
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
stamp-h1
changes
s2
